@import url(/styling/global.css);

main section {
    text-align: center;
    margin-top: 0px;
}

main {display: flex; flex-direction: column; align-items: center;}


p {
    font-weight: 300;
    margin: 0px ;}

h4 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
}

h5 {
    font-size: 1em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 0px;
}

section a {
    text-decoration: none;
    display: block;
    margin: 20px;
}

.about {
    margin: 20px;
}

@media (min-width: 950px) {
    p {font-size: 1.3em;
        margin: 5px;
    }
}