@import url(/styling/global.css);

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    color: var(--blue-color);
}

main h3 {
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0px;
}


main section {
    min-height: 400px;
    width: 93%;
    border: 1px solid var(--blue-color);
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
}

main section :last-child {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 0px;
}

section .info {
    margin-left: 10px;
    max-width: 98%;
}



.slider-frame {
    overflow: hidden;
}

@-webkit-keyframes slide_animation {
    0% {top:150%;}
    100% {top:0%;}
}

.slide-images {
    width: 100%;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 22s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
}

.img-container {
    max-height: 150px;
    max-width: 150px;
}

main section h5 {
    font-size: 2em;
    color: var(--blue-color);
    font-weight: 400;
    margin: 0px;
    text-transform: capitalize;
}


.earth {
    background-image: url(/images/earth.jpg);
    display: cover;
    width: 100%;
    background-position: center;
}

.evolution {
    background-image: url(/images/darwin.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 90%;
    height: 200px;
}



.medisine {
    background-image: url(/images/medisine-background.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
}

.indicator {
    max-width: 10px;
    height: 200px;
    background: #81ecd9;
}

@-webkit-keyframes slide_animation1 {
    0% {right: 30%}
    100% {right:-30%}
}

.img-container_medisine {
    width: 100%;
    position: relative;
    -webkit-animation-name: slide_animation1;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction:normal;
    -webkit-animation-play-state: running;
    -webkit-animation-timing-function: linear;
}

.shaking {
    background-image: url(/images/shakinghand1.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

.ecology {
    background-image: url(/images/ecoogy.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}