@import url(/styling/global.css);

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-weight: 400;
    padding: 0px;
    margin: 0px;
    color: var(--black-color);
}

main h3 {
    font-weight: 400;
    text-transform: capitalize;
}

main section {
    min-height: 300px;
    width: 95%;
    border: 1px solid var(--blue-color);
    background: var(--white-color);
    margin-bottom: 10px;
    position: relative;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

main section div:nth-child(1) {
    max-width: 500px;
    margin: auto;
}

main section div:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

main section div h5 {
    font-size: 1em;
    color: var(--blue-color);
    font-weight: 400;
    margin: 10px;
}

main section div p {
    color: var(--blue-color);
    font-weight: 300;
    margin: 0px;
    padding-left: 5px;
}

main section div:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 50px;
}
main section div a {
    font-size: 1.5em;
    color: white;
    margin-left: 50%;
    position: absolute;
    bottom: 0px;
}

.fa-arrow-alt-circle-right {
    margin-left: 5px;
    font-size: .8em;
}


img {width: 100%;}


footer {padding-top: 20px;}

.hours-open {
    background: #F4F4F4;
    width: 95%;
    padding-top: 20px;
}

.hours-open div:nth-child(1) {
    margin: auto;
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

.hours-open div p::first-letter {
    text-transform: uppercase;
}

.hours-open div:nth-child(2) {
    margin:auto;
}

.hours-open div:nth-child(2) p {
    font-size: 1.4em;
}

.museum-image {
    background-image: url(/images/museum-outside.png);
    width: 95%;
    max-width: 800px;
    min-height: 450px;
    max-height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
}